[MESSAGES CONTROL]
disable=missing-docstring,redefined-builtin,old-style-class,too-few-public-methods,too-many-arguments,no-self-use,fixme,line-too-long

good-names=id,s3,of,e,_
function-rgx=[a-z_][a-z0-9_]{2,60}$
method-rgx=[a-z_][a-z0-9_]{2,60}$
